.lobby
{
  width: 100%;
  color: #fff;
  font-family: 'Exo', sans-serif;
}

.lobby__name:after
{
  width: 100%;
}

.lobby__players
{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.lobby__player
{
  box-sizing: border-box;
  flex-basis: 20%;
  padding: 20px;
  margin: 20px;
  font-size: 14px;
  background: #282835;
}

.lobby__player:nth-of-type(4n+1)
{
  margin-left: 0;
}

.lobby__player:nth-of-type(4n+4)
{
  margin-right: 0;
}

.lobby-owner .lobby
{
  width: 65%;
}

.lobby-owner .lobby__player
{
  margin: 20px 5px;
}

.management-box
{
  box-sizing: border-box;
  width: 35%;
  padding: 26px 20px 20px 20px;
  color: #fff;
}

.champion-form
{
  display: flex;
  margin-top: 20px;
}

.champion-form label
{
  width: 32px;
  height: 32px;
  padding: 10px;
  position: relative;
}

.champion-form label.checked
{
  background: #1d1b19;
}

.champion-form label:after
{
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: url(../assets/champions/avatars.png) no-repeat;
}

.champion-form label:nth-of-type(1):after
{
  background-position: 0 0;
}

.champion-form label:nth-of-type(2):after
{
  background-position: -32px 0;
}

.champion-form label:nth-of-type(3):after
{
  background-position: -64px 0;
}

.champion-form label:nth-of-type(4):after
{
  background-position: -96px 0;
}

.champion-form input[type=radio]
{
  display: none;
}

.back-button
{
  color: #fff;
  background: #0c0a09;
  border: 0;
  height: 40px;
  padding: 10px 25px;
  text-transform: uppercase;
  font: 400 16px 'Exo', sans-serif;
  cursor: pointer;
}

